body{
    margin-left: 2%;
    margin-top: 1%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 98, 196);
    font-size: 28px;
    font-style: italic;
}

p{
    font-size: 18px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: rgb(136, 178, 255);
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(136, 178, 255);
}

button{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    background: rgb(0, 98, 196);
    border: none;
    border-radius: 40px;
    color: white;
    padding: 2px 20px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 1s;
}

input{
    margin-left: 0.5rem;
    font-size: 17px;
}

button:hover{
    background: rgb(136, 178, 255);
}